body{
    background-color:darkcyan;
   
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 5rem;
color: cyan;
}

.container{
    display: flex;
    justify-content:space-around;
   
    color: cyan;
    font-size: 2.5rem;
}   

.container1{
    display: flex;
    justify-content:space-around;
   
}
.die{
   
  height: 150px;
  width: 150px;
}
